header{
    display: flex;
    position: sticky;
    top: 5px;
    justify-content: space-between;
    justify-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    max-height: 100px;
    filter: drop-shadow(0 0 00.35em rgba(0, 0, 0, 0.548))
    
}

header img{
    border-radius: 5px;
    width: 373px;
    height: 100px;
}

li{
    display: inline-block;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 10px;
    font-size: 2em;
   
}

a{
    color: black;
    text-decoration: none;
    filter: drop-shadow(0 0 0.35em rgba(0, 0, 0, 0.218));
    transition: all 400ms ease 0s;
}

li{
    transition: all 400ms ease 0s;
    font-family: "Outfit", sans-serif;
}

a:hover{
    text-decoration: underline;
    color: rgb(255, 68, 0);
    transition: all 400ms ease 0s;
}

li:hover{
    text-decoration: underline;
    color: rgb(255, 68, 0);
    text-decoration-thickness: 1mm;
    text-decoration-skip-ink: ;
    text-underline-offset: 0.4rem;
    filter: drop-shadow(0 0 0.20em rgb(206, 255, 245))
}

.easter-egg{
     position: fixed;
     bottom: 10px;
}

.easter-egg img{
    width: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(141, 101, 101), -10px -10px 20px black;
   
}

.banner{
    display: flex;
    justify-self: center;
    width: 1000px;
    height: 500px;
    border-radius: 30px;
    box-shadow: 10px 10px 20px rgba(128, 128, 128, 0.303), -10px -10px 20px rgba(0, 0, 0, 0.275);
    margin-top: 50px;
    transition: 200ms ease-in-out 0s;

}

.text{
    display: block;
}

h1, h2{
    text-indent: 40px;
    font-family: "DynaPuff", system-ui;
    filter: drop-shadow(0 0 0.20em rgba(0, 0, 0, 0.35));
    font-size: 1cm;
    justify-self: center;
}

p{
    max-width: 1200px;
    font-size: 20px;
    justify-self: center;
    text-align: justify;
    font-family: "Red Hat Text", sans-serif;
}

.banner:hover{
    transform: scale(1.04);
    box-shadow: 10px 10px 20px rgba(255, 0, 0, 0.303), -10px -10px 20px rgba(136, 255, 0, 0.275)
}